/* welcome-modal */
.welcomeModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.welModal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #530d0d;
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
}
.error-message {
  color: red;
}

.success-message {
  color: green;
}

.close {
  color: #888;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.image-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#subscription-image {
  display: block;
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 5%;
}

.welcomeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  width: 100%;
  margin-bottom: 20px;
}

button.subcription-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button.subcription-button:hover {
  background-color: #45a049;
}
/* Font styles for the subscription element */
.welcomeModal h3 {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcomeModal #email-input {
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

.welcomeModal .subcription-button {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/* end of design */

body {
  font-family: "Poppins", sans-serif;
}

.headerContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  margin-bottom: 12%;
}

/* Header Section input text  */
.headerSection form input {
  height: 6vh;
  width: 70%;
  border-radius: 12px;
  padding-left: 5%;
  margin-bottom: 10%;
}
/* search */
.search-container {
  position: relative;
  padding-bottom: 10vh;
}
.ms-n5 {
  margin-left: -40px;
}
.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #999999;
  cursor: pointer;
  pointer-events: none;
}

.search-input {
  padding-right: 40px;
}
.show-input .search-input {
  display: block;
}
/* input validation in search input */
input.invalid {
  color: red; 
 }


/* 1st modal */
.modal-header h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:20px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding-right: 30px;
  width: 50%;
  max-width: 400px;
} 


#slotmachine {
  width: auto; 
  max-width: 498px; 
  height: 400px;
  overflow: hidden;
  align-items: center;
 position:relative;
}

#slotmachine ul li {
  width: 100%;
  height: auto; /* Change height to auto to allow it to expand based on content */
  line-height: normal; /* Remove fixed line-height to allow text to wrap properly */
  text-align: center;
  font-size: 20px;
  list-style: none;
  
}
.slot-button {
  background-color: #00a69c;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ffffff;
  padding: 10px 60px !important;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


.slot-button:hover {
  background-color: #00887d;
}

.randomizer-card .restaurant-list {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.randomizer-image .restaurant-list {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 8px;
}

.details .restaurant-list  {
  flex: 1;
}

.details h3 .restaurant-list {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.details h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
}

.details p {
  margin-bottom: 4px;
  font-size: 14px;
}
.details a {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.details a:hover {
  text-decoration: underline;
}
.modal-button {
  background-color: #f02e4f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

.modal-button:hover {
  background-color: #d0193f;
  padding: 10px 20px;
}


/*Category card design  */


.restaurant-item {
  width: calc(33.33% - 20px); 
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.restaurant-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
 
}

.restaurant-info h3 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

.restaurant-info p {
  margin-bottom: 5px;
}

.restaurant-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.restaurant-info ul li {
  margin-bottom: 5px;
}
.restaurant-info {
  padding: 10px;
  margin-top: 10px;
  height: 160px;
  overflow: auto;
}

/* category modal */
/* 2ndModal Styles */


.swiper-container {
  width: 100%;
  height: 400px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
}


.swiper-slide {
  flex-shrink: 0;
  width: 300px;
}

.swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: #888;
  opacity: 0.8;
  margin: 0 5px;
  cursor: pointer;
}

.newmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.newmodal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  overflow: auto;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


/* Restaurant List Styles */
#categoryRestaurantList {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

#categoryRestaurantList li {
  margin-bottom: 10px;
  font-size: 16px;
}

#paginationContainer {
  margin-top: 20px;
}


/* footer section */
.footer {
  background-color: #0b1016;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
}

.footer h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer p {
  margin-bottom: 8px;
}

.footer .location {
  margin-top: 15px;
}

.footer .location i {
  margin-right: 10px;
}

.footer .subscribe {
  margin-top: 15px;
}

.footer .subscribe p {
  margin-bottom: 8px;
}

.footer .logo {
  max-width: 80px;
  margin-bottom: 15px;
}

.footer span {
  display: block;
  margin-top: 15px;
}



.bx.bx-search {
  font-size: 32px;
  color: #000;
  margin-left: -50px;
  position: relative;
  margin-top: 3px;
}
.logo1 {
  width: 10rem; 
  height: 5rem; 
  
}
/* stars */
.star-rating {
  color: #ffd700; 
  font-size: 20px; 
}

.star {
  display: inline-block;
}

.star.filled {
  color: #ffd700; 
}

#categoryTitle{
  font-size:50px;
  font-style:italic;
  text-transform: capitalize;
  letter-spacing: 9px;
}

.star.empty {
  color: #ccc; 
}


#slotmachine .spinner{
  width: 90%;
  height: 200px;
  position:absolute;
  top:0;
}

#slotmachine .spinner > *{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.input-group-append{
  cursor:pointer;
} 

.categorySection:after{
  content:"";
  padding:100px 0;
  display:block;
}

@media only screen and (max-width: 900px) {
  .swiper-wrapper {
    display: table;
  }
  .swiper-slide {
    width: 300px; 
    display:block;
  }
  .swiper-slide:after {
    padding:10px;
    content:"";
  }
  .close {
      color: #efebeb;
      position: absolute;
      top: 50px;
      right: 25px;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
  }
}
